
/* reset */
html,body {
    margin:0px;
    padding:0px;
}
/*end reset */


body
{
min-height:100%;
font-family:monospace;
font-size:16px;
color:dimgray;
background-color:#EEEEEE;
}


a:link
{
text-decoration:none;
}
a:hover, .pub a:active
{
text-decoration:underline;
}

a.quiet-links
{
  color: dimgray;
  text-decoration: underline;
  text-decoration-color: #b0c4de;
  text-decoration-thickness: .125em;
  text-underline-offset: 1.5px;
  text-decoration-style: dotted;
} 

.center
{
margin-left:auto;
margin-right:auto;
border:0px;
padding:0px;
/*width:740px;*/
width:75%;
height:100%;
overflow:hidden;
background-color:white;
/*border:1px;
border-style:solid;
border-color:#444444;
box-shadow: 2px 2px 5px;*/
}

.top-c
{
margin-left:auto;
margin-right:auto;
border:0px;
padding:0px;
width:100%;
height:100%;
overflow:hidden;
background-color:white;
text-align:center;
text-decoration:none;
font-size:35px;
}

.top-c-classes
{
margin-left:auto;
margin-right:auto;
border:0px;
padding:0px;
width:100%;
height:100%;
overflow:hidden;
background-color:white;
text-align:center;
text-decoration:none;
font-size:20px;
font-weight:bold;
}
.top-c-classes-2020
{
margin-left:auto;
margin-right:auto;
border:0px;
padding:0px;
width:100%;
height:100%;
overflow:hidden;
background-color:white;
text-align:center;
text-decoration:none;
font-size:30px;
font-weight:bold;
}

.top-l
{
float:left;
width:50%;
/*height:245px;*/
padding:10px;
border:0px;
margin:0px;
}

.top-r
{
float: right;
width: 35%;
height: 225px;
padding:30px 10px 10px 10px;
border:0px;
margin:0px;
text-align: center;
}

.top-r-txt
{
float:right;
width:40%;
padding:10px;
border:0px;
margin:0px;
}

.top-l-calendar
{
float:left;
width:40%;
padding:0px;
border:0px;
margin:0px 0px 10px 40px;
}


.top-r-calendar
{
float:left;
/*width:50%;*/
padding:0px;
border:0px;
margin:0px;
}

div.course-description
{
margin-left:auto;
margin-right:auto;
width:95%;
clear:left;
text-align:justify;
}

div.resources
{
margin-left:auto;
margin-right:auto;
width:95%;
text-align:justify;
}

div.content 
{
float:left;
margin:10px;
text-align:justify;
}

div.news-content 
{
    margin-left:20px;
    margin-right:auto;
    margin-bottom:10px;
    margin-top:20px;
    width:80%;
    text-align:justify;
}

.content ul
{
    list-style-type:disc;
}

.news-content ul
{
    list-style-type:none;
    margin: 0 0 3px 0;
}

.news-content li
{
    margin: 0 0 15px 0;
}

.schedule table
{
margin-left:auto;
margin-right:auto;
width:95%;
height:100%;
overflow:hidden;
}

.schedule table, th, td
{
border:1px solid #FFFFFF;
padding:10px;
border-collapse:collapse;
}

.split-l
{
float:left;
width:250px;
padding:0px;
border-right:1px solid #444444;
border-left:0px;
margin:10px;
}
.split-r
{
float:left;
width:458px;
padding:0px;
margin-top:10px;
margin-left:0px;
margin-right:10px;
margin-bottom:10px;
}
.split-r ul
{
list-style-type:disc;
}

hr {
margin:0px;
border-style: inset;
border-width: 1px;
border-color: #DDDDDD;
}
.nav ul
{
list-style-type:none;
margin:10px 0px 0px;
padding:0px 5px;
/*overflow:hidden;*/
}
.nav li
{
float:left;
}


.nav a:link, .nav a:visited
{
display:block;
/*width + 2*(padding+border+margin) must equal width of .center class*/
/*width:177px;*/
padding:5px 10px;
border-bottom:2px solid white;
margin:10px 0px 0px;
color:#000000;
text-align:center;
text-decoration:none;
font-size:12px;
font-family:'arial',sans-serif;
font-weight:bold;
color:dimgray;
}

.nav a:hover, .nav a:active
{
/*background-color:#473047;*/
border-bottom:2px solid royalblue; /*#291B29;*/
/*border-top-left-radius: 8px;
border-bottom-left-radius: 8px;
border-top-right-radius: 8px;
border-bottom-right-radius: 8px;*/
}
#curr
{
/*background-color:#291B29;
width:177px;*/
border-bottom:2px solid royalblue; /*#291B29;*/
}


ul
{
list-style-type:none;
padding-top:5px;
padding-bottom:5px;
}


.flex-container {
  display: flex;
  flex-wrap: nowrap;
 }

* {
  box-sizing: border-box;
}

.box {
  float: left;
  width: 33.33%;
  padding: 50px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
